name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore "/home/runner/work/EF-Duration-Interceptor/EF-Duration-Interceptor/src/EFDurationInterceptor.csproj"
    - name: Build
      run: dotnet build  "/home/runner/work/EF-Duration-Interceptor/EF-Duration-Interceptor/src/EFDurationInterceptor.csproj" --no-restore --configuration Release
    - name: Pack
      run: dotnet pack  "/home/runner/work/EF-Duration-Interceptor/EF-Duration-Interceptor/src/EFDurationInterceptor.csproj" --configuration Release
    - name: Push
      working-directory: src
      run: dotnet nuget push "/home/runner/work/EF-Duration-Interceptor/EF-Duration-Interceptor/src/bin/Release/EFDurationInterceptor.3.1.19.nupkg"  --api-key ${{ secrets.NUGET_API_KEY }} --source "https://api.nuget.org/v3/index.json"  --skip-duplicate
